body {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  position: relative;
  width: 330px;
  height: 90vh;
  background-color: #f4e242;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.results {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.recipe {
  text-decoration: none;
  color: black;
  width: 45%;
}

.recipe__card {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}
  
 .recipe__img {
    height: 100px;
    width: 100px;
    border-radius: 100%;
  }
  
.recipe__title {
    text-align: center;
  }

form {
  transform-origin: bottom;
  position: absolute;
  bottom: 0;
  left: 25%;
}

.loader {
  font-size: 2rem;
  transform-origin: 50% 50%;
  animation: rotate 1.5s infinite linear; 
}

@keyframes rotate {
  0% {
    transform: rotate(0);  
  }
  100% {
    transform: rotate(360deg);  
  }
}


.refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  color: black;
  font-size: 2rem;
} 